<section class='wholepage'>
        <h1>{{cards.0.arrond}} </h1>

        <header>
                <div>
                        <a id="prev-page" class="button" href="/arrond/{{previous}}">Previous arr.</a>
                        <a id="next-page" class="button" href="/arrond/{{next}}">Next arr.</a>
                </div>
        </header>

        <section class='container'>
                {{#each cards}}
                <div class='card'>
                        <img src="{{this.image}}" />
                        <p>{{this.title}}</p>
                        <a href='/arrond/{{this.arrond}}/{{this._id}}'>See more info</a>
                </div>
                {{/each}}
        </section>
</section>