<h1>See museums in the {{cards.0.arrond}}</h1>

<section>
    <div>
        {{#each cards}}
        <p>{{this.title}}</p>
        <p>{{this.image}}</p>
        <p>{{this.category}}</p>
        <p>Arrondissement: {{this.arrond}}</p>
        <a href='/arrond/{{this.arrond}}/{{this._id}}'>See more info</a>
        {{/each}}
    </div>
</section>