<section class='wholepage'>
        <div class='header'>
        <a id="prev-page" class="button" href="/arrond/{{previous}}">Prev arr.</a>
        <h1>{{cards.0.arrond}} </h1>
        <a id="next-page" class="button" href="/arrond/{{next}}">Next arr.</a>
        </div>


        <section class='container'>
                {{#each cards}}
                <div class='card'>
                        <img src="{{this.image}}" />

                        <div class='card-text'>
                        <p>{{this.title}}</p>

                        {{#if this.author}}
                        <p>Added by: {{this.author.username}}</p>
                        {{/if}}
                        </div>
                        <a href='/arrond/{{this.arrond}}/{{this._id}}' class='info'>See more info</a>
                </div>
                {{/each}}
        </section>
</section>
