<h2>Further details about '{{card.title}}'</h2>

<p>{{card.image}}</p>
<p>{{card.category}}</p>
<p>{{card.location}}</p>
<p>{{card.address}}</p>
<p>{{card.arrond}}</p>
<p>{{card.websiteUrl}}</p>
<p>{{card.comments}}</p>