<h2>{{oneCard.title}}</h2>

<div class='onecard'>
<img src="{{oneCard.image}}"/>
<p>{{oneCard.category}}</p>
<p>{{oneCard.location}}</p>
<p>{{oneCard.address}}</p>
<p>{{oneCard.arrond}}</p>
<p>{{oneCard.websiteUrl}}</p>
<p>{{oneCard.comments}}</p>
</div>