<div class='wholepage'>
    <h2>{{oneCard.title}}</h2>

    <div class='container'>
        <div class='return'>
            <a href='/arrond/{{oneCard.arrond}}' class='one-card-btn'>{{oneCard.arrond}}</a>
        </div>
        <div class='onecard'>
            <img src="{{oneCard.image}}" />
            {{#if oneCard.dateStart}}
            {{formatDate oneCard.dateStart}}
            {{/if}}

            {{#if oneCard.dateEnd}}
            <p>to</p>
            {{formatDate oneCard.dateEnd}}
            {{/if}}

            <p>{{oneCard.location}}</p>
            <p>{{oneCard.address}}</p>
            <p>{{oneCard.arrond}}</p>
            <p>{{oneCard.websiteUrl}}</p>
            <p>{{{oneCard.description}}}</p>
            {{!-- <p>{{oneCard.category}}</p> --}}
            {{#if oneCard.author}}
            <p>Added by: {{oneCard.author.username}}</p>
            {{/if}}
        </div>

        {{#if isLoggedIn}}
        {{#if favUser}}
        <p><a href='/arrond/{{oneCard.arrond}}/{{oneCard._id}}/favourite' class='one-card-btn'>Remove from favourites</a></p>
        {{else}}
        <p><a href='/arrond/{{oneCard.arrond}}/{{oneCard._id}}/favourite' class='one-card-btn'>Add to favourites</a></p>
        {{/if}}   
        {{/if}} 

    </div>
</div>