<h1>{{catCards.0.category}}</h1>

<section class='container'>
        {{#each catCards}}
        <div class='card'>
        <p>Image: <img src="{{this.imageUrl}}"/></p>
        <p>{{this.title}}</p>
        <p>{{this.image}}</p>
        <p>Arrondissement: {{this.arrond}}</p>
        <p>{{this.category}}</p>
        <a href='/arrond/{{this.category}}/{{this._id}}'>See more info</a>
        </div>
        {{/each}}
</section>