<div class='welcome'>
<h1>Welcome to your dashboard {{currentUser.username}}!</h1>

    <div class='add-fav-btns'>
    <a href="/profile" class='info'>Return to your discoveries</a>
    </div>

<h2>Your favourites:</h2>

<div class='favpage'>
        {{#each favCards.favourites}}
        <div class='card-container'>
        <div class='card'>
        <img src="{{this.image}}"/>
        <p>{{this.title}}</p>
        <a href='/arrond/{{this.arrond}}/{{this._id}}' class='info'>See more info</a>
        </div>
        </div>
        {{/each}}
</div>
</div>