<h1>Update a discovery</h1>

<form action='/profile/{{cardToEdit._id}}/update' method='post' class='form' enctype="multipart/form-data">
    <label for='title' class='label'>Title:</label>
    <input id='title' name='title' type='text' value='{{cardToEdit.title}}'/>
 
    <label for='image' class='label'>Image:</label>
    <input id='image' name='image' type='file'/>

    <label for='category' class='label'>Category:</label>
    <select name='category'>
        <option value='museum'>Museum</option>
        <option value='exhibition'>Exhibition</option>
        <option value='street-art'>Street art</option>
        <option value='public-space'>Public space</option>
    </select>

    <label for='location' class='label'>Location:</label>
    <input id='location' name='location' type='text' value='{{cardToEdit.location}}'/>

    <label for='address' class='label'>Address:</label>
    <input id='address' name='address' type='text' value='{{cardToEdit.address}}'/>

    <label for='arrond' class='label'>Arrondissement:</label>
    <select name='arrond'>
        <option value='75001'>1st</option>
        <option value='75002'>2nd</option>
        <option value='75003'>3rd</option>
        <option value='75004'>4th</option>
        <option value='75005'>5th</option>
        <option value='75006'>6th</option>
        <option value='75007'>7th</option>
        <option value='75008'>8th</option>
        <option value='75009'>9th</option>
        <option value='75010'>10th</option>
        <option value='75011'>11th</option>
        <option value='75012'>12th</option>
        <option value='75013'>13th</option>
        <option value='75014'>14th</option>
        <option value='75015'>15th</option>
        <option value='75016'>16th</option>
        <option value='75017'>17th</option>
        <option value='75018'>18th</option>
        <option value='75019'>19th</option>
        <option value='75020'>20th</option>
    </select>

    <label for='websiteUrl' class='label'>Website:</label>
    <input id='websiteUrl' name='websiteUrl' type='text' value='{{cardToEdit.websiteUrl}}'/>

    <label for='comments' class='label'>Comments:</label>
    <input id='comments' name='comments' type='text' value='{{cardToEdit.comments}}'/>

    <button>Submit</button>
</form>